.greentext {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 7, 16);
}
.bluetext {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 58, 219);
}
.redtext {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(16, 100%, 95%);